.vinyl {
  background-size: cover;
  width: 100%;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  padding: 2rem;
}

p {
  text-align: center;
  margin: auto;
  width: 90%;
}

h2 {
  text-align: center;
  padding: 2rem;
}

.vinyl {
  padding: 1.5rem;
}

@media (min-width: 600px) {
  .vinyl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h1 {
    text-align: center;
    padding: 2rem;
  }
  p {
    text-align: center;
    margin: auto;
    width: 50%;
  }
  .vv {
    display: flex;
    justify-content: center;
  }
  .vv a {
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    padding: 2px;
    text-decoration: none;
  }

  .vv a:hover {
    color: #df5b42;
    transition: 0.7s;
  }
}
