* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* mobil */
@media only screen and (max-width: 900px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 30%;
    position: relative;
    top: -70px;
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* color: white; */
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
  }
  .txt1 {
  }
  .txt2 {
  }
  .billede1 {
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
  .adresse {
  }
  .google_maps {
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
  .sociale_medier_billede {
  }
  .insta {
  }
  .face {
  }
}
/* desktop */
@media only screen and (min-width: 901px) {
  main {
    background-color: black;
    padding: 40px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 10%;
    position: relative;
    top: -70px;
    z-index: +1;
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    position: relative;
    top: -240px;
    font-size: 4rem;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
    gap: 30px;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
    padding-bottom: 30px;
  }
  .txt1 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .txt2 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .billede1 {
    grid-column: 2/3;
    grid-row: auto;
    width: auto;
    position: relative;
    top: -50px;
    border: solid 2px white;
  }
  .placering {
    text-align: left;
    height: 60px;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto;
    gap: 30px;
  }
  .adresse1 {
    grid-column: 2/3;
    grid-row: auto;
  }
  .adresse2 {
    grid-column: 2/3;
    grid-row: auto;
    line-height: 30px;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .sociale_medier_billede {
    grid-column: 2/3;
    grid-row: auto;
    border: solid 2px white;
    overflow: hidden;
    position: relative;
    top: -140px;
  }
  .insta {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -38px;
    left: 70px;
  }
  .insta_ikon {
    max-width: 12%;
    grid-column: 1/2;
    grid-row: auto;
  }
  .face {
    max-width: 18%;
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -35px;
    left: 72px;
  }
  .face_ikon {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    left: 18px;
  }
  .map {
    grid-column: 1/2;
    grid-row: auto;
    overflow: hidden;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    top: -170px;
    border: solid 2px white;
    overflow: hidden;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
