* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* mobil */
@media only screen and (max-width: 900px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url(billeder/vinyl_1.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 30%;
    position: relative;
    top: -70px;
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* color: white; */
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
  }
  .txt1 {
  }
  .txt2 {
  }
  .billede1 {
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
  .adresse {
  }
  .google_maps {
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
  .sociale_medier_billede {
  }
  .insta {
  }
  .face {
  }
}
/* desktop */
@media only screen and (min-width: 901px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url(billeder/vinyl_1.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 10%;
    position: relative;
    top: -70px;
    z-index: +1;
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
  }
  .txt1 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .txt2 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .billede1 {
    grid-column: 2/3;
    grid-row: auto;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .adresse {
    grid-column: 2/3;
    grid-row: auto;
  }
  .google_maps {
    grid-column: 1/2;
    grid-row: auto;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .sociale_medier_billede {
    grid-column: 2/3;
    grid-row: auto;
  }
  .insta {
    grid-column: 1/2;
    grid-row: auto;
  }
  .face {
    grid-column: 1/2;
    grid-row: auto;
  }
}
