* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

footer {
  background-color: #df5b42;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 0.5rem;
}

footer .footerlogo {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 1rem;
}

footer .ikoner {
  display: block;
  width: 30px;
  margin: auto auto;
  gap: 0.5rem;
  padding-top: 1rem;
}

footer p {
  font-size: 0.7rem;
  font-family: soleil;
  color: white;
}

footer h3 {
  color: white;
  text-transform: uppercase;
  font-family: dazzle-unicase;
  font-size: 1rem;
}

h2 {
  color: white;
  font-family: dazzle-unicase;
  font-size: 2rem;
}

nav li {
  font-family: dazzle-unicase;
}

@media (min-width: 1000px) {
  .click {
    width: 20vw;
  }
  nav li {
    font-size: 1.8rem;
  }
}

/* styling af siden */
/* mobil */
@media only screen and (max-width: 900px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    height: 230px;
  }

  .splashkontakt {
    background-size: cover;
    width: 100%;
    object-fit: cover;
    filter: opacity(80%);
    background-position: 50%;
    position: absolute;
    z-index: -1;
  }
  .logo {
    padding: 20px;
    width: 110px;
    /* position: relative;
      top: -70px; */
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 20px;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #df5b42;
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    font-size: 3rem;
    font-family: arya-triple;
    font-weight: normal;
    height: 90px;
  }
  /* kontakt styling */
  .kontakt_overskrift {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-family: dazzle-unicase;
    gap: 20px;
    padding-bottom: 30px;
  }
  .kontakt {
    display: grid;
    grid-column: 1fr;
    grid-row: auto;
    /* height: 640px; */
    line-height: 20px;
    font-size: 0.8rem;
    font-family: soleil;
  }
  .txt1 {
    display: grid;
    justify-content: center;
  }
  .txt2 {
    display: grid;
    justify-content: center;
  }
  .billede1 {
    max-width: 100%;
    order: 4;
  }
  /* sociale medier styling */
  .sociale_medier {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-family: dazzle-unicase;
    gap: 20px;
    padding-top: 30px;
    order: 2;
  }
  .sociale_medier_ikoner {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-bottom: 40px;
    order: 3;
  }
  .insta_ikon {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 50%;
    position: relative;
    left: 100px;
  }
  .insta_tekst {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: soleil;
    position: relative;
    top: 26px;
    left: 11px;
  }
  .face_ikon {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 28%;
    position: relative;
    left: 120px;
  }
  .face_tekst {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: soleil;
    position: relative;
    top: 16px;
    left: 12px;
  }
  /* placering styling */
  .placering {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-family: dazzle-unicase;
    height: 60px;
    line-height: 35px;
  }
  .adresse1 {
    display: grid;
    justify-content: center;
    font-size: 1rem;
    font-family: dazzle-unicase;
    line-height: 35px;
    height: 40px;
  }
  .adresse2 {
    display: grid;
    justify-content: center;
    font-size: 0.8rem;
    font-family: soleil;
    line-height: 1.5rem;
    height: 70px;
  }
  /* google maps styling */
  .map_wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }
  .map {
    max-width: 90vw;
    overflow: hidden;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    border: solid 2px white;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  /* footer styling */

  footer {
    background-color: #df5b42;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
  }

  footer .footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 0%;
  }

  footer p {
    font-size: 0.7rem;
    font-family: soleil;
    padding: 0.5rem;
  }

  footer h3 {
    text-transform: uppercase;
    font-family: arya-triple;
    font-size: 1rem;
    text-align: center;
  }

  footer .ikoner {
    display: flex;
    width: 70px;
    position: relative;
    left: 35px;
  }

  /* BURGERMENU */

  .streg {
    height: 3px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-top: 5px;
  }

  #menu_streger {
    width: 30px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    opacity: 100%;
    margin-left: auto;
  }

  nav {
    display: none;
    text-align: center;
  }

  .click {
    display: flex;
    flex-flow: column;
    /* Dette er hvis det hele skal placeres i højre side, 
      men man kan ikke gøre det hvis li elementerne skal placeres i midten */
    /* place-items: end; */
    background-color: #62c6aa;
    /* transition: 10s; */
    opacity: 95%;
    width: 40vw;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    /* align-content: flex-end; */
    z-index: 30;
    place-content: right;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    gap: 40px;
    /* padding: 20px; */
    list-style-type: none;
    color: white;
    flex-direction: column;
  }

  nav li {
    font-size: 1.2rem;
  }

  #menufold {
    z-index: 20;
  }

  .click {
    width: 200px;
  }

  /* desktop */
  @media only screen and (min-width: 901px) {
    main {
      background-color: black;
      padding: 40px;
      color: white;
      margin: 0px;
    }
    /* header styling */
    header {
      height: 400px;
    }
    .splashkontakt {
      background-size: cover;
      width: 100%;
      height: 75vh;
      filter: opacity(80%);
      object-fit: cover;
      position: absolute;
      z-index: -1;
    }

    .logo {
      padding: 20px;
      width: 120px;
      /* position: relative;
    top: -70px;
    z-index: +1; */
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      /* align-content: flex-end; */
      z-index: 30;
      /* align-items: center; */
      margin-right: 40px;
    }
    nav ul {
      /* display: grid; */
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      gap: 60px;
      padding: 20px;
      color: white;
      list-style-type: none;
    }

    /* styling af links */

    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: none;
      color: #df5b42;
    }

    /* h1 styling */
    .overskrift {
      display: grid;
      justify-content: center;
      font-family: arya-triple;
      font-weight: normal;
      font-size: 4rem;
      height: 120px;
    }
    /* informationer styling */
    .kontakt {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
      grid-template-rows: auto auto;
      gap: 30px;
      padding-bottom: 80px;
      font-family: soleil;
    }
    .kontakt_overskrift {
      display: grid;
      justify-content: left;
      padding-bottom: 30px;
      font-size: 1rem;
      font-family: dazzle-unicase;
      gap: 20px;
    }
    .txt1 {
      grid-column: 1/2;
      grid-row: auto;
    }
    .txt2 {
      grid-column: 1/2;
      grid-row: auto;
    }
    .billede1 {
      max-width: 100%;
      grid-column: 2/3;
      grid-row: auto;
      position: relative;
      top: -50px;
    }
    /* sociale medier styling */
    .sociale_medier {
      display: grid;
      justify-content: left;
      font-size: 1rem;
      font-family: dazzle-unicase;
    }
    .sociale_medier_ikoner {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-column: 1/2;
      grid-row: auto;
    }
    .insta_tekst {
      grid-column: 2/3;
      grid-row: 1/2;
      font-family: soleil;
    }
    .insta_ikon {
      max-width: 30%;
      grid-column: 1/2;
      grid-row: 1/2;
      position: relative;
      left: -20px;
      top: -20px;
    }
    .face_tekst {
      grid-column: 2/3;
      grid-row: auto;
      font-family: soleil;
    }
    .face_ikon {
      grid-column: 1/2;
      grid-row: 2/3;
      position: relative;
      top: -20px;
    }
    /* placering styling */
    .placering {
      height: 60px;
      display: grid;
      justify-content: left;
      font-size: 1rem;
      font-family: dazzle-unicase;
      margin-bottom: 2rem;
    }
    .find_os {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
      grid-template-rows: auto;
      gap: 30px;
    }
    .adresse1 {
      grid-column: 2/3;
      grid-row: auto;
      justify-content: left;
      font-size: 1rem;
      font-family: dazzle-unicase;
    }
    .adresse2 {
      grid-column: 2/3;
      grid-row: auto;
      line-height: 30px;
      justify-content: left;
      font-size: 1rem;
      font-family: soleil;
    }
    /* google maps styling */
    .map {
      grid-column: 1/2;
      grid-row: auto;
      padding-bottom: 65.25%;
      position: relative;
      height: 0;
      top: -170px;
      border: solid 2px white;
    }
    .map iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    /* footer */

    .click {
      width: 30vw;
    }

    nav li {
      font-size: 1.2rem;
    }
    footer {
      background-color: #df5b42;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      color: white;
      padding-top: 0.5rem;
    }

    footer .footerlogo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
      margin-top: 0%;
    }

    footer p {
      font-size: 0.7rem;
      font-family: soleil;
      padding: 0.5rem;

      color: white;

      line-height: 1.5rem;
    }

    footer h3 {
      text-transform: uppercase;
      font-family: arya-triple;
      font-size: 1.5rem;
      text-align: center;
    }

    footer .ikoner {
      display: flex;
      width: 100px;

      position: relative;
      /* left: 190px; */
      padding-top: 1rem;
      gap: 0.5rem;
      margin: 0 auto;
    }
  }
}
