* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

/* BURGERMENU */

.streg {
  height: 3px;
  width: 100%;
  background-color: #b9b9b9;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

nav {
  display: none;
}

.click {
  display: flex;
  flex-flow: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

/* mobil */
@media only screen and (max-width: 900px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.jpg");
    background-size: cover;
    width: 100%;
    height: 260px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 30%;
    /* position: relative;
    top: -70px; */
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(14, 189, 174);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    position: relative;
    top: -170px;
    font-size: 3rem;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: white;
    line-height: 40px;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
    gap: 30px;
  }
  .billede1 {
    max-width: 100%;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: auto;
    line-height: 50px;
    order: 1;
  }
  .adresse2 {
    line-height: 35px;
    word-wrap: break-word;
    order: 2;
  }
  .map {
    max-width: 84%;
    overflow: hidden;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    border: solid 2px white;
    order: 3;
    object-fit: scale-down;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    order: 3;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: auto auto;
  }
  .sociale_medier_billede {
    border: solid 2px white;
    overflow: hidden;
    max-width: 84%;
    object-fit: scale-down;
  }
  .insta {
    position: relative;
    top: -38px;
    left: 70px;
  }
  .insta_ikon {
    max-width: 15%;
    position: relative;
    left: -20px;
  }
  .face {
    max-width: 18%;
    position: relative;
    top: -35px;
    left: 72px;
  }
  .face_ikon {
    position: relative;
  }
}
/* desktop */
@media only screen and (min-width: 901px) {
  main {
    background-color: black;
    padding: 40px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    filter: opacity(70%);
  }
  .logo {
    padding: 20px;
    width: 10%;
    /* position: relative;
    top: -70px;
    z-index: +1; */
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    list-style-type: none;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    position: relative;
    top: -240px;
    font-size: 4rem;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
    gap: 30px;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
    padding-bottom: 30px;
  }
  .txt1 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .txt2 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .billede1 {
    grid-column: 2/3;
    grid-row: auto;
    width: auto;
    position: relative;
    top: -50px;
    border: solid 2px white;
  }
  .placering {
    text-align: left;
    height: 60px;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto;
    gap: 30px;
  }
  .adresse1 {
    grid-column: 2/3;
    grid-row: auto;
  }
  .adresse2 {
    grid-column: 2/3;
    grid-row: auto;
    line-height: 30px;
  }
  .map {
    grid-column: 1/2;
    grid-row: auto;
    overflow: hidden;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    top: -170px;
    border: solid 2px white;
    overflow: hidden;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .sociale_medier_billede {
    grid-column: 2/3;
    grid-row: auto;
    border: solid 2px white;
    overflow: hidden;
    position: relative;
    top: -140px;
  }
  .insta {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -38px;
    left: 70px;
  }
  .insta_ikon {
    max-width: 12%;
    grid-column: 1/2;
    grid-row: auto;
  }
  .face {
    max-width: 18%;
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -35px;
    left: 72px;
  }
  .face_ikon {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    left: 18px;
  }
}
