* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

h1 {
  color: white;
  font-family: arya-triple;
  font-size: 3rem;
  font-weight: normal;
}

/* BURGERMENU */

.streg {
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  opacity: 100%;
  margin-left: auto;
}

nav {
  display: none;
  text-align: center;
}

.click {
  display: flex;
  flex-flow: column;
  /* Dette er hvis det hele skal placeres i højre side, 
  men man kan ikke gøre det hvis li elementerne skal placeres i midten */
  /* place-items: end; */
  background-color: #62c6aa;
  /* transition: 10s; */
  opacity: 95%;
  width: 40vw;
  height: 100vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* align-content: flex-end; */
  z-index: 30;
  place-content: right;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  gap: 40px;
  /* padding: 20px; */
  list-style-type: none;
  color: white;
  flex-direction: column;
}

nav li {
  font-size: 1rem;
}

#menufold {
  z-index: 20;
}

/* mobil */
@media only screen and (max-width: 900px) {
  main {
    background-color: black;
    padding: 20px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.png");
    background-size: cover;
    width: 100%;
    height: 260px;
  }
  .logo {
    padding: 20px;
    width: 110px;
    /* position: relative;
    top: -70px; */
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 20px;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: rgb(14, 189, 174);
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    /* position: relative;
    top: -170px; */
    font-size: 3rem;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: white;
    line-height: 40px;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
    gap: 30px;
  }
  .billede1 {
    max-width: 100%;
    border: solid 2px white;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: auto;
    line-height: 50px;
    order: 1;
  }
  .adresse2 {
    line-height: 35px;
    word-wrap: break-word;
    order: 2;
  }
  .map_wrapper {
    width: 408px;
    height: 300px;
    order: 3;
  }
  .map {
    max-width: 90vw;
    overflow: hidden;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    border: solid 2px white;
    order: 4;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    order: 4;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: auto auto;
  }
  .billede_wrapper {
    width: 408px;
    height: 300px;
  }
  .sociale_medier_billede {
    border: solid 2px white;
    overflow: hidden;
    max-width: 100%;
  }
  .insta {
    position: relative;
    top: -38px;
    left: 70px;
  }
  .insta_ikon {
    max-width: 15%;
    position: relative;
    left: -20px;
  }
  .face {
    max-width: 18%;
    position: relative;
    top: -35px;
    left: 72px;
  }
  .face_ikon {
    position: relative;
  }
  footer {
    background-color: #df5b42;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    color: white;
  }

  footer .footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  footer p {
    font-size: 0.7rem;
    font-family: soleil;
    padding: 0.5rem;
  }

  footer h3 {
    text-transform: uppercase;
    font-family: arya-triple;
    font-size: 1.5rem;
  }

  footer .ikoner {
    display: flex;
    width: 100px;
  }
}
/* desktop */
@media only screen and (min-width: 901px) {
  main {
    background-color: black;
    padding: 40px;
    color: white;
    margin: 0px;
  }
  /* header styling */
  header {
    background-image: url("/billeder/vinyl_1.png");
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  .logo {
    padding: 20px;
    width: 120px;
    /* position: relative;
    top: -70px;
    z-index: +1; */
  }
  nav ul {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 60px;
    padding: 20px;
    color: white;
  }
  /* styling af links */
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #62c6aa;
  }
  /* h1 styling */
  .overskrift {
    display: grid;
    justify-content: center;
    /* position: relative;
    top: -240px; */
    font-size: 4rem;
  }
  /* informationer styling */
  .kontakt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
    gap: 30px;
  }
  .kontakt_overskrift {
    display: grid;
    justify-content: left;
    padding-bottom: 30px;
  }
  .txt1 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .txt2 {
    grid-column: 1/2;
    grid-row: auto;
  }
  .billede1 {
    grid-column: 2/3;
    grid-row: auto;
    width: auto;
    position: relative;
    top: -50px;
    border: solid 2px white;
  }
  .placering {
    text-align: left;
    height: 60px;
  }
  .find_os {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto;
    gap: 30px;
  }
  .adresse1 {
    grid-column: 2/3;
    grid-row: auto;
  }
  .adresse2 {
    grid-column: 2/3;
    grid-row: auto;
    line-height: 30px;
  }
  .map {
    grid-column: 1/2;
    grid-row: auto;
    padding-bottom: 65.25%;
    position: relative;
    height: 0;
    top: -170px;
    border: solid 2px white;
  }
  .map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .sociale_medier {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-template-rows: auto auto;
  }
  .sociale_medier_billede {
    grid-column: 2/3;
    grid-row: auto;
    border: solid 2px white;
    position: relative;
    top: -140px;
  }
  .insta {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -38px;
    left: 70px;
  }
  .insta_ikon {
    max-width: 12%;
    grid-column: 1/2;
    grid-row: auto;
  }
  .face {
    max-width: 18%;
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    top: -35px;
    left: 72px;
  }
  .face_ikon {
    grid-column: 1/2;
    grid-row: auto;
    position: relative;
    left: 18px;
  }

  .click {
    width: 30vw;
  }

  nav li {
    font-size: 1.2rem;
  }
  footer {
    background-color: #df5b42;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    color: white;
  }
  footer p {
    font-size: 0.7rem;
    font-family: soleil;
    padding: 0.5rem;
  }

  footer h3 {
    text-transform: uppercase;
    font-family: arya-triple;
    font-size: 1.5rem;
    text-align: center;
  }

  footer .ikoner {
    display: flex;
    width: 100px;
  }
}

@media (min-width: 1000px) {
  .click {
    width: 20vw;
  }
  nav li {
    font-size: 1.8rem;
  }
}
