* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main {
  background-color: black;
  padding: 20px;
  color: white;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 65px;
  line-height: 30px;
  margin-bottom: 80px;
}

header {
  background-image: url("/billeder/splashbillede.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  filter: opacity(80%);
  background-position: 0% 90%;
}
h1 {
  text-align: center;
}

h3 {
  font-family: dazzle-unicase;
  font-size: 1rem;
  text-align: left;
}

h4 {
  font-family: dazzle-unicase;
}

p {
  font-family: soleil;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.vinyler p {
  padding: 0;
}

.vinyl-img {
  cursor: pointer;
}

/* overlay med hover effekt over billeder */

.p_overlay {
  display: none;
}

.container_img {
  position: relative;
}

.overlay {
  display: none;
}

.kunstner {
  text-align: center;
}

button {
  cursor: pointer;
}

.genrer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: dazzle-unicase;
  text-decoration: none;
}

button {
  background-color: #62c6aa;
  color: #fff;
  border: none;
  padding: 2px;
  min-height: 30px;
  min-width: 120px;
  font-family: dazzle-unicase;
  font-size: 0.7rem;
}

.genrer :hover {
  background-color: #df5b42;
  transition: 0.7s;
}

.valgt {
  background-color: #df5b42;
}

footer p {
  font-weight: 400;
}

@media (min-width: 600px) {
  #content {
    margin: 0 3rem;
  }

  .vinyl-info {
    display: grid;
    grid-template-columns: auto minmax(auto, 50px);
    margin-bottom: 3rem;
  }

  .vinyl-img {
    grid-column: span 2;
    margin-bottom: 0.5rem;
  }

  .kunstner {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 1rem;
  }

  .navn {
    text-align: left;
  }

  .year {
    text-align: right;
    opacity: 80%;
  }

  .read-more {
    display: none;
  }
}

@media (min-width: 901px) {
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #df5b42;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    /* Dette gør at den ikke er synlig før man hover over billedet */
    opacity: 0%;
    transition: 0.5s ease;
    /* display: block; */
    display: flex;
    place-content: center;
    cursor: pointer;
  }

  .container_img:hover .overlay {
    opacity: 80%;
  }

  .p_overlay {
    display: flex;
    text-decoration: underline;
    font-weight: 1.6rem;
    align-items: center;
  }

  .container_img {
    /* place-content: center; */
    align-items: center;
    display: grid;
    aspect-ratio: 1/1;
  }

  .overlay p {
    font-size: 1.4rem;
  }
}
