* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main {
  background-color: black;
  padding: 20px;
  color: white;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 65px;
  line-height: 30px;
  margin: 0 2rem;
}

header {
  background-image: url("/billeder/splashbillede.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  filter: opacity(80%);
}

h3 {
  font-family: dazzle-unicase;
  font-size: 1rem;
  text-align: left;
}

h4 {
  font-family: dazzle-unicase;
}

p {
  font-family: soleil;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.vinyler p {
  padding: 0;
}

.vinyl-img {
  cursor: pointer;
}

.kunstner {
  text-align: center;
}

button {
  cursor: pointer;
}

.genrer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: dazzle-unicase;
  text-decoration: none;
}

button {
  background-color: #62c6aa;
  color: #fff;
  border: none;
  padding: 2px;
  min-height: 30px;
  min-width: 120px;
  font-family: dazzle-unicase;
  font-size: 0.7rem;
}

.genrer :hover {
  background-color: #df5b42;
  transition: 0.7s;
}

@media (min-width: 600px) {
  .vinyl-info {
    display: grid;
    grid-template-columns: auto minmax(auto, 50px);
    margin-bottom: 3rem;
  }

  .vinyl-img {
    grid-column: span 2;
    margin-bottom: 0.5rem;
  }

  .kunstner {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 1rem;
  }

  .navn {
    text-align: left;
  }

  .year {
    text-align: right;
    opacity: 80%;
  }
}
