* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main {
  background-color: black;
  padding: 20px;
  color: white;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 65px;
  line-height: 30px;
  margin: 0 2rem;
}
h3 {
  font-family: dazzle-unicase;
  font-size: 1rem;
  text-align: left;
}

h4 {
  font-family: dazzle-unicase;
}

p {
  font-family: soleil;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.vinyler p {
  padding: 0;
}

.vinyl-img {
  cursor: pointer;
}

.kunstner {
  text-align: center;
}

@media (min-width: 600px) {
  .vinyler {
    display: grid;
    grid-template-columns: auto minmax(auto, 50px);
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .vinyl-img {
    grid-column: span 2;
  }

  .kunstner {
    grid-column: span 2;
  }

  .navn {
    text-align: left;
  }

  .year {
    text-align: right;
  }
}
