* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main {
  background-color: black;
  padding: 20px;
  color: white;
}

header {
  background: black;
  height: 50px;
  opacity: 100%;
  filter: opacity(100%);
}

#content {
  margin: auto;
  padding: 10px;
  display: grid;
  justify-content: center;
  max-width: 1200px;
}

.vinyl-img {
  margin-bottom: 2rem;
}

.kunstner {
  margin-bottom: 2rem;
}

.pris,
.year {
  /* font-size: 1.2rem; */
  font-family: dazzle-unicase;
}
.navn {
  text-align: center;
}

.kunstner {
  font-weight: 300;
  text-align: center;
}

.navn {
  font-family: dazzle-unicase;
}

p {
  font-family: soleil;
  font-weight: 300;
  margin-bottom: 1rem;
}

.back {
  cursor: pointer;
}

@media (min-width: 700px) {
  .back-button-container {
    display: flex;
    place-content: start;
    margin-top: 4rem;
  }
  .vinyler {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .vinyl-info {
    display: grid;
    grid-template-columns: auto minmax(auto, 50px);
  }

  .vinyl-img {
    grid-column: span 1;
  }

  .kunstner {
    grid-row: 1;
    grid-column: span 2;
  }

  .year {
    grid-row: 1;
    grid-column: 2 / span 1;
    place-self: start end;
    padding: 0;
  }

  .navn {
    grid-row: 1;
    grid-column: 1 / span 1;
    text-align: left;
  }

  .pris {
    grid-row: 3;
    grid-column: 2;
    padding: 0;
  }
}
