* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main {
  background-color: black;
  padding: 20px;
  color: white;
}

header {
  background: black;
  height: 50px;
  opacity: 100%;
  filter: opacity(100%);
}

#content {
  margin: auto;
  padding: 10px;
  display: grid;
  justify-content: center;
  max-width: 1200px;
}

.vinyl-img {
  margin-bottom: 2rem;
}

.kunstner {
  margin-bottom: 2rem;
}

.pris,
.year {
  /* font-size: 1.2rem; */
  font-family: dazzle-unicase;
}
.navn {
  text-align: center;
}

.kunstner {
  font-weight: 300;
  text-align: center;
}

.navn {
  font-family: dazzle-unicase;
}

h1 {
  padding-top: 40px;
}

p {
  font-family: soleil;
  font-weight: 300;
  margin-bottom: 1rem;
}

.back {
  cursor: pointer;
}

.beskrivelse {
  max-width: 500px;
  /* text-align: left; */
  padding: 0 0;
}
button {
  background-color: #62c6aa;
  color: #fff;
  border: none;
  padding: 10px;
  min-height: 30px;
  min-width: 120px;
  font-family: dazzle-unicase;
  font-size: 0.8rem;
}
.back:hover {
  background-color: #df5b42;
  transition: 0.7s;
}

.back-button-container{
  display: flex;
  place-content: center;
  margin: 3rem 0;
}
footer p{
  font-weight: 400;
}

.notice{
  font-style: italic;
}
@media (min-width: 600px){
  .vinyler{
    display: flex;
    place-content: center;
    flex-direction: column;
  }
  .beskrivelse{
    margin: 0 auto;
  }
  button{
    width: fit-content;
    height: fit-content;
  }
}

@media (min-width: 900px) {
  button{
    padding: 2px;
    font-size: 0.7rem;
    width: 98px;
    height: 40px;
  }

  .vinyler {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .vinyl-info {
    display: grid;
    grid-template-columns: auto minmax(auto, 50px);
  }

  .vinyl-img {
    grid-column: span 1;
  }

  .kunstner {
    grid-row: 1;
    grid-column: span 2;
  }

  .year {
    grid-row: 1;
    grid-column: 2 / span 1;
    place-self: start end;
    padding: 0;
  }

  .navn {
    grid-row: 1;
    grid-column: 1 / span 1;
    text-align: left;
  }

  .pris {
    grid-row: 3;
    grid-column: 2;
    padding: 0;
  }

  .beskrivelse{
    padding: 2rem;
  }

}

@media (min-width: 1100px){
  .back-button-container{
    place-content: end;
    /* margin: 0 8rem 8rem 8rem; */
  }
  .notice{
    place-self: start;
    padding: 0;
  }
}
