* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* p {
  padding: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
}

main {
  background: black;
  padding-bottom: 8rem;
}

h1 {
  color: white;
  font-family: arya-triple;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

p {
  color: white;
  font-family: soleil;
  text-align: center;
  line-height: 1.5rem;
}

footer {
  background-color: #df5b42;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

footer .footerlogo {
  width: 70%;
  margin-top: 1rem;
}

footer .ikoner {
  display: block;
  width: 30px;
  margin: auto auto;
  gap: 0.5rem;
  padding-top: 1rem;
}

footer p {
  font-size: 0.7rem;
}

footer h3 {
  color: white;
}

h2 {
  color: white;
  font-family: dazzle-unicase;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

header {
  background-image: url("/billeder/splashbillede.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  filter: opacity(80%);
}

header h2 {
  color: white;
}

.vinyl {
  background-size: cover;
  width: 100%;
  margin-top: 2rem;
}

.logo {
  max-width: 10%;
}

/* BURGERMENU */

.streg {
  height: 3px;
  width: 100%;
  background-color: #b9b9b9;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

nav {
  display: none;
}

.click {
  display: flex;
  flex-flow: column;
}

@media (min-width: 600px) {
  /* knapper */
  .genrer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  header {
    background-image: url("/billeder/splashbillede.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    filter: opacity(80%);
  }

  button {
    background-color: #62c6aa;
    color: #ffffff;
    margin-top: 2rem;
    margin: 5px;
    width: 98px;
    height: 40px;
    gap: 20px;
  }
  button :hover {
    background-color: #b9b9b9;
  }

  h1 {
    color: white;
    font-family: arya-triple;
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }

  h2 {
    font-family: dazzle-unicase;
    font-size: 3rem;
  }

  p {
    text-align: center;
    padding: 3rem;
  }

  .voresvinyler {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
  }
  .omos {
    position: absolute;
    top: 5%;
    right: 25%;
    z-index: 1;
  }

  .vinyl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  footer {
    background-color: #df5b42;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

  footer .footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  footer p {
    font-size: 0.7rem;
  }
  footer .ikoner {
    display: flex;
    width: 100px;
    margin-top: 1rem;
  }
}
