img {
  max-width: 100%;
}

main {
  background: black;
}

h1 {
  color: white;
}

p {
  color: white;
}

h2 {
  color: white;
}

header {
  background-image: url("/billeder/splashbillede.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  filter: opacity(80%);
}

header h2 {
  color: white;
}

.vinyl {
  background-size: cover;
  width: 100%;
}

.logo {
  max-width: 10%;
}

/* BURGERMENU */

.streg {
  height: 3px;
  width: 100%;
  background-color: #b9b9b9;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

nav {
  display: none;
}

.click {
  display: flex;
  flex-flow: column;
}

@media (min-width: 600px) {
  .genrer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #62c6aa;
  }
  button {
    color: #ffffff;
    margin-top: 2rem;
  }

  .voresvinyler {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
  }
  .omos {
    position: absolute;
    top: 5%;
    right: 25%;
    z-index: 1;
  }

  .vinyl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  footer {
    background-color: #df5b42;
  }
}
