* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* p {
  padding: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
}

main {
  background: black;
  padding-bottom: 5rem;
}

h1 {
  color: white;
  font-family: arya-triple;
  font-size: 3rem;
}

p {
  color: white;
  font-family: soleil;
  line-height: 1.5rem;
}

footer {
  background-color: #df5b42;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 0.5rem;
}

footer .footerlogo {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 1rem;
}

footer .ikoner {
  display: block;
  width: 30px;
  margin: auto auto;
  gap: 0.5rem;
  padding-top: 1rem;
}

footer p {
  font-size: 0.7rem;
  font-family: soleil;
}

footer h3 {
  color: white;
  text-transform: uppercase;
  font-family: dazzle-unicase;
  font-size: 1rem;
}

h2 {
  color: white;
  font-family: dazzle-unicase;
  font-size: 2rem;
}

header {
  background-image: url("/billeder/splashbillede.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  filter: opacity(80%);
}

header h2 {
  color: white;
}

.logo {
  width: 110px;
  padding: 20px;
}

/* BURGERMENU */

.streg {
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  opacity: 100%;
  margin-left: auto;
}

nav {
  display: none;
  text-align: center;
}

.click {
  display: flex;
  flex-flow: column;
  /* Dette er hvis det hele skal placeres i højre side, 
  men man kan ikke gøre det hvis li elementerne skal placeres i midten */
  /* place-items: end; */
  background-color: #62c6aa;
  /* transition: 10s; */
  opacity: 95%;
  width: 40vw;
  height: 100vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* align-content: flex-end; */
  z-index: 30;
  /* place-content: right; */
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  gap: 40px;
  /* padding: 20px; */
  list-style-type: none;
  color: white;
  flex-direction: column;
}

nav li {
  font-size: 1rem;
}

#menufold {
  z-index: 20;
}

.vv img {
  margin: 0 auto;
  display: block;
  background-color: #62c6aa;
  color: #fff;
  border: none;
  padding: 2px;
  width: 98px;
  height: 40px;
}

.vv button:hover {
  background-color: #df5b42;
  transition: 0.7s;
}

.vv img:hover {
  background-color: #df5b42;
  transition: 0.7s;
}

@media (min-width: 600px) {
  /* knapper */
  .genrer {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  header {
    background-image: url("/billeder/splashbillede.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    filter: opacity(80%);
    background-position: 0 70%;
  }

  button {
    background-color: #62c6aa;
    color: #ffffff;
    margin-top: 2rem;
    margin: 5px;
    width: 98px;
    height: 40px;
    gap: 20px;
  }
  button :hover {
    background-color: #b9b9b9;
  }

  h1 {
    color: white;
    font-family: arya-triple;
    font-size: 5.5rem;
    font-weight: 400;
  }

  h2 {
    font-family: dazzle-unicase;
    font-size: 3rem;
  }

  .voresvinyler {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
  }
  .omos {
    position: absolute;
    top: 5%;
    right: 25%;
    z-index: 1;
  }

  footer {
    background-color: #df5b42;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer .footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 0%;
  }

  footer p {
    font-size: 0.7rem;
    font-family: soleil;
    padding: 0.5rem;
  }

  footer h3 {
    text-transform: uppercase;
    font-family: arya-triple;
    font-size: 1.5rem;
    text-align: center;
  }

  footer .ikoner {
    display: flex;
    width: 100px;
  }
  .vv {
    display: flex;
    justify-content: center;
  }
  .vv a {
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    padding: 2px;
    text-decoration: none;
  }

  .vv a:hover {
    color: #df5b42;
    transition: 0.7s;
  }
}

@media (min-width: 901px) {
  .logo {
    width: 120px;
  }
}
